<!DOCTYPE html>
{% extends 'base.html' %}

{% block head %}
    <title>{{checklist.rpas_model}} Checklist </title>
{% endblock %}

{% block body %}
<div class="container">
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      <a href="{% url 'checklist_list'%}">My Checklists</a></li>

    <li class="breadcrumb-item active" aria-current="page"> {{checklist.rpas_model.model_name}} Checklist </li>
    <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-check-square" aria-hidden="true"></i></li>
  </ol>
</nav>

<ul class="list-group">
  <li class="list-group-item ">{{checklist.parts_check}}</li>
  <li class="list-group-item">{{checklist.charge_status}}</li>
  <li class="list-group-item">{{checklist.camera_check}}</li>
  <li class="list-group-item">{{checklist.props_check}}</li>
  <li class="list-group-item">{{checklist.firmware_check}}</li>
  <li class="list-group-item">{{checklist.camera_check}}</li>
  <li class="list-group-item">{{checklist.risk_assesment}}</li>
  <li class="list-group-item">{{checklist.conditions_check}}</li>
  <li class="list-group-item">{{checklist.connection_check}}</li>

</ul>
<!-- <a href="{% url 'checklist_update' pk=checklist.pk %}">Update</a> -->
<br>

  <div class="card">
    <div class="card-body">
      <!-- <a href="{% url 'checklist_update' pk=checklist.pk %}" >Update</a> -->
<a class="btn btn-primary btn-block" href="{% url 'checklist_update' pk=checklist.pk %}" role="button">
  <h5>UPDATE</h5></a>
    </div>

  </div>

{% endblock %}
