<!DOCTYPE html>
{% extends 'base.html' %}

{% block head %}
    <title>Checklist </title>
{% endblock %}

{% block body %}
<p></p>
<div class="container">
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">My Checklists </li>
    <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-check-square" aria-hidden="true"></i></li>
  </ol>
</nav>

<div class="row">
  {% for checklist in checklists %}
  <div class="col-sm">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h6 class="card-title">{{checklist.rpas_model.model_name}} Checklist </h6>
        <!-- <br>
        <img class="card-img-top" src="{{checklist.rpas.rpas_pic.url}}" alt="RPAS Pic Missing!">

        <br>
        <br> -->
        <a class="btn btn-primary" href="{% url 'checklist_detail' pk=checklist.pk %}" role="button">View checklist</a>
      </div>
    </div>
  </div>

    {%endfor%}
</div>
</div>
{% endblock %}
