<!DOCTYPE html>
{% extends "base.html" %}

{% block head %}
    <title>Update Checklist</title>
{%endblock%}

{%block body%}
<div class="container">
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{%url 'checklist_list'%}">My Checklists</a></li>
      <li class="breadcrumb-item"><a href="{%url 'checklist_detail' pk=checklist.pk%}">{{checklist.rpas.rpas_nickname}} Checklist</a></li>
      <li class="breadcrumb-item active" aria-current="page">
      Update
    </li>
    </ol>
  </nav>
</div>


<div class="container">



  <form class=""  action=""method="POST" enctype="multipart/form-data">
  {% csrf_token %}
{% load bootstrap3 %}
      <div class="card" >
         <div class="card-body">
  {% bootstrap_form form %}
        </div>
        <input value="Save" class="default" name="_save" type="submit">
      </div>
    </form>

</div>
{%endblock%}
