
{% extends "base.html" %}

{% block head %}
    <title>ADD Flight Log</title>
{%endblock%}

{%block body%}

<section class="content">


  <form class=""  action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Pilot In Command</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-3">
          {{ form.user}}
        </div>

      </div>
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Reserve Airspace</h3>
    </div>
    <div class="panel-body">
      <h6 class="card-subtitle mb-2 text-muted">Select the reserved airspace (Only the last three are shown) </h6>
      <div class="row">
        <div class="col-xs-4">
          {{ form.approval }}
        </div>
        <div class="col-xs-2">
           <p>OR</p>
        </div>
        <div class="col-xs-3">
            <a href="{% url 'create_reserve' %}" class="btn btn-primary  active" role="button" >
              <i class="fa fa-plus-square " ></i>
              <small>new airspace reserve</small>
            </a>

         </div>
      </div>
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Emmergency Info</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-4">
          {{ form.emmergency_info }}
        </div>
        <div class="col-xs-2">

        </div>
        <div class="col-2">
          <div class="container">
            <a href="{% url 'emergency_add' %}" class="btn btn-primary  active" role="button" aria-pressed="true">
              <i class="fa fa-plus-square " aria-hidden="true"></i>
            </a>
          </div>
         </div>
      </div>
    </div>
  </div>


  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Pre-Flight</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-4">
          {{ form.pre_flight }}
        </div>
        <div class="col-xs-2">
          <div class="container">

          </div>
        </div>
        <div class="col-2">
          <div class="container">
            <a href="{% url 'pre_flight_add' %}" class="btn btn-primary  active" role="button" aria-pressed="true">
              <i class="fa fa-plus-square " aria-hidden="true"></i>
            </a>
          </div>
         </div>
      </div>
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Post Flight</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-4">
          {{ form.postflight }}
        </div>
        <div class="col-xs-2">
          <div class="container">

          </div>
        </div>
        <div class="col-2">
          <div class="container">
            <a href="{% url 'rpas_model_add' %}" class="btn btn-primary  active" role="button" aria-pressed="true">
              <i class="fa fa-plus-square " aria-hidden="true"></i>
            </a>
          </div>
         </div>
      </div>
    </div>
  </div>



<input value="Save" class="default" name="_save" type="submit">

</form>





</section>
{%endblock%}
