{% extends "base.html" %}


{% block head %}
    <title>ADD Location</title>


{%endblock%}


{%block body%}
<div class="container">
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        <i class="fa fa-ambulance" aria-hidden="true"></i>
      Add Emmergency Info
    </li>
    </ol>
  </nav>
</div>



<div class="container">
  <div class="card">
    <div class="card-body">
      <form method="POST">
          {{ form.as_p }}
          {% csrf_token %}
          <br>
          <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</div>




{%endblock%}
