<!DOCTYPE html>
{% extends "base.html" %}

{% block head %}
    <title>Update Log</title>
{%endblock%}

{%block body%}
{% load bootstrap3 %}

<!-- {{flightlog.pk}} this is flightlog pk -->
<p></p>

<!-- {{flightlog.get_preflight_completion}}% PreFlight completion -->

  <section class="content">

    <div class="well well-lg">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-center">
            <b>Log Details </b>
          </h3>
        </div>
        <div class="panel-body">
          <form class=""  method="POST">
            {% csrf_token %}
              {% bootstrap_form form %}
              <p></p>
            <input type="submit" class="btn btn-primary "value="Save">
          </form>
        </div>
      </div>

  </div>


  </section>


<a href="{% url 'post_flight_update' pk=flightlog.get_post_flight_pk %}">
  {{flightlog.get_post_flight_pk}} Post Flight >>>
</a>

<a href="{% url 'pre_flight_update' pk=flightlog.get_pre_flight_pk %}">
  {{flightlog.get_pre_flight_pk}} Pre Flight >>>
</a>

<a href="{% url 'emmergency_info_update' pk=flightlog.get_emergency_info_pk %}">
  {{flightlog.get_emergency_info_pk}} Emergency Info >>>
</a>

{%endblock%}
