<!DOCTYPE html>
{% extends "base.html" %}

{% block head %}
    <title>Update Log</title>
{%endblock%}

{%block body%}
{% load bootstrap3 %}

<!-- {{flightlog.pk}} this is flightlog pk -->
<p></p>

<!-- {{flightlog.get_preflight_completion}}% PreFlight completion -->

  <section class="content">

    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title text-center">
              <b>Detailed updates</b> <em>(Recommended)</em>
            </h3>
          </div>
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li role="presentation">
                <a href="{% url 'pre_flight_update' pk=flightlog.get_pre_flight_pk %}">
                  <!-- {{flightlog.get_pre_flight_pk}}  -->
                  <em>Go to</em>
                  <b>Pre Flight</b>
                  <span class="pull-right">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
              <li role="presentation">
                <a href="{% url 'post_flight_update' pk=flightlog.get_post_flight_pk %}">
                  <!-- {{flightlog.get_post_flight_pk}}  -->
                  <em>Go to</em>
                  <b>Post Flight</b>
                  <span class="pull-right">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
              <li role="presentation">
                <a href="{% url 'emmergency_info_update' pk=flightlog.get_emergency_info_pk %}">
                  <!-- {{flightlog.get_emergency_info_pk}} -->
                  <em> Go to </em>
                  <b>Emergency Info</b>
                  <span class="pull-right">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </span>
      
                </a>
              </li </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title text-center">
              <b>Log Details </b>
            </h3>
          </div>
          <div class="panel-body">
            <form class="" method="POST">
              {% csrf_token %} {% bootstrap_form form %}
              <p></p>
              <input type="submit" class="btn btn-primary " value="Save">
            </form>
          </div>
        </div>
      </div>
      
    </div>
      


  


  </section>




{%endblock%}
