<!DOCTYPE html>
{% extends 'base.html' %}




{% block head %}
    <title>Log Detail</title>
{% endblock %}

{% block body %}
<section class="content">


  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="{%url 'logs_list'%} ">My Logs</a></li>
      <li class="breadcrumb-item active" aria-current="page">Log Details</li>
    </ol>
  </nav>


  <div class="row">
    <div class="col-sm-5">
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            Log Number: </li>
            <span class="pull-right">
              <b>{{flightlog.reserve_airspace.application_number}}</b>
            </span>
        </ol>
      </nav>
    </div>
    <div class="col-sm-3">
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item " aria-current="page">Pilot: </li>
          <span class="pull-right">
            <b>{{flightlog.user.first_name}}</b>
          </span>
        </ol>
      </nav>
    </div>
    <div class="col-sm-4">
                <a class="btn btn-primary  btn-block"
                 href="{% url 'log_update' pk=flightlog.pk %}"
                  role="button">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  Update log
                </a>
    </div>
  </div>


<p></p>


<div class="row">

<div class="col-sm-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Overall Details</h3>
        </div>
        <div class="panel-body">
          <h6 class="card-subtitle mb-2 text-muted">
            Organization:  
            <span class="pull-right">
              <b>{{flightlog.reserve_airspace.get_organization}}</b>
            </span>
          </h6>
          <p class="card-text">Purpose:
            <span class="pull-right">
              <b>{{flightlog.reserve_airspace.get_mission_type_display}}</b>
            </span> 
          </p>
          <p class="card-text">Date: 
            <span class="pull-right">
              <b>{{flightlog.reserve_airspace.get_start_datetime}}</b>
            </span> 
          </p>
          <p class="card-text">Approval:  
            <span class="pull-right">
              <b>{{flightlog.reserve_airspace.get_status_display}}</b>
            </span>
          </p>

        </div>
      </div>
</div>


<div class="col-sm-4">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Mission RPAS</h3>
    </div>
    <div class="panel-body">
      <h6 class="card-subtitle mb-2 text-muted">RPAS:
        <span class="pull-right">
          <b>{{flightlog.reserve_airspace.rpas}}</b>
        </span> 
      </h6>
      <p class="card-text">Model:
        <span class="pull-right">
          <b>{{flightlog.reserve_airspace.rpas.rpas_model}}</b>
        </span>
      </p>
      <p class="card-text">Model Type:
        <span class="pull-right">
          <b>{{flightlog.reserve_airspace.rpas.rpas_model.rpas_model_type}}</b>
        </span> 
      </p>
      <p class="card-text">Serial:
        <span class="pull-right">
          <b>{{flightlog.reserve_airspace.rpas.rpas_serial}}</b>
        </span> 
      </p>
      <p class="card-text">Nickname:
        <span class="pull-right">
          <b>{{flightlog.reserve_airspace.rpas.rpas_nickname}}</b>
        </span> 
      </p>
      <p class="card-text">Manufacturer:
        <span class="pull-right">
          <b>{{flightlog.reserve_airspace.rpas.rpas_model.manufacturer}}</b>
        </span>
      </p>
    </div>
  </div>
</div>

<div class="col-sm-4">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Mission Payload</h3>
    </div>
    <!-- TODO: LOG PAYLOAD: if else statement, if unfinished, show link as in list view to complete -->
    <div class="panel-body">
      <h6 class="card-subtitle mb-2 text-muted">Payload:
        <span class="pull-right">
          <b>{{flightlog.reserve_airspace.rpas.payload}}</b>
        </span> 
      </h6>
      <p class="card-text">Model:
        <span class="pull-right">
          <b>{{flightlog.reserve_airspace.rpas.payload.payload_model}}</b>
        </span> 
      </p>
      <p class="card-text">Model Type: 
        <span class="pull-right">
          <b>{{flightlog.reserve_airspace.rpas.payload.payload_model.payload_model_type}}</b>
        </span>
      </p>
      <p class="card-text">Serial:
        <span class="pull-right">
          <b>{{flightlog.reserve_airspace.rpas.payload.payload_serial}}</b>
        </span> 
      </p>
      <p class="card-text">Nickname:
        <span class="pull-right">
          <b>{{flightlog.reserve_airspace.rpas.payload.payload_nickname}}</b>
        </span> 
      </p>
      <p class="card-text">Manufacturer:
        <span class="pull-right">
          <b>{{flightlog.reserve_airspace.rpas.payload.manufacturer}}</b>
        </span> 
      </p>
    </div>
  </div>
</div>

<div class="col-sm-8">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">{{flightlog.reserve_airspace}}</h3>
      </div>
      <div class="panel-body">
        {% load static %}
        {% load leaflet_tags %}
        {%  leaflet_js %}
        {%  leaflet_css  %}
        <script type="text/javascript">
        function our_layers(map,options){
          var datasets = new L.GeoJSON.AJAX("{% url 'my_airspace_datasets' pk=flightlog.reserve_airspace.pk %}",{

          });
          datasets.addTo(map);

          datasets.on('layeradd', function (event) {
            // Assuming the clicked feature is a shape, not a point marker.
            map.fitBounds(event.layer.getBounds());
          });
        }
        </script>



        {%  leaflet_map "gis" callback="window.our_layers" %}
      </div>
    </div>
</div>

<div class="col-sm-4">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Pre-flight</h3>
    </div>
   <!-- TODO: Pre Flight: if else statement, if unfinished, show link as in list view to complete -->

    <div class="panel-body">
      <p class="card-text">Altitude:
        <span class="pull-right">
          <b>{{flightlog.pre_flight.altitude}} ft</b>
        </span> 
      </p>
      <p class="card-text">Estimated Flight Time:
        <span class="pull-right">
          <b>{{flightlog.pre_flight.est_flight_time}} mins</b>
        </span> 
      </p>
      <p class="card-text">Area Size: 
        <span class="pull-right">
          <b>{{flightlog.pre_flight.area_size}}</b>
        </span>
      </p>
      <p class="card-text">No. of Flights:
        <span class="pull-right">
          <b>{{flightlog.pre_flight.no_of_flights }}</b>
        </span> 
      </p>
      <p class="card-text">Other Info:
        <span class="pull-right">
          <b>{{flightlog.pre_flight.other_info}}</b>
        </span> 
      </p>
      <p class="card-text">Batt Reminder:
        <span class="pull-right">
          <b>{{flightlog.pre_flight.batt_reminder }} %</b>
        </span> 
      </p>
    </div>
  </div>
</div>


</div>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Emergency Info</h3>
      </div>
      <!-- TODO: Emmergency Info: if else statement, if unfinished, show link as in list view to complete -->
      <div class="panel-body">

        <p class="card-text">closest Hospital:
          <span class="pull-right">
            <b>{{flightlog.emmergency_info.closest_hosp}}</b>
          </span> 
        </p>
        <p class="card-text">closest Fire Dept:
          <span class="pull-right">
            <b>{{flightlog.emmergency_info.fire_dept}}</b>
          </span> 
        </p>
        <p class="card-text">closest Police Station:
          <span class="pull-right">
            <b>{{flightlog.emmergency_info.nearest_police_stn}}</b>
          </span> 
        </p>
        <p class="card-text">Security Service: 
          <span class="pull-right">
            <b>{{flightlog.emmergency_info.security_service}}</b>
          </span>
        </p>
        <p class="card-text">Other:
          <span class="pull-right">
            <b>{{flightlog.emmergency_info.other}}</b>
          </span> 
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Post-flight</h3>
      </div>
      <div class="panel-body">

        <p class="card-text">damages:
          <span class="pull-right">
            <b>{{flightlog.post_flight.damages}}</b>
          </span> 
        </p>
        <p class="card-text">Comments:
          <span class="pull-right">
            <b>{{flightlog.post_flight.comments}}</b>
          </span> 
        </p>
        <p class="card-text">Success? :
          <span class="pull-right">
            <b>{{flightlog.post_flight.mission_success}}</b>
          </span> 
        </p>
      </div>
    </div>
  </div>

</div>



<script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}" ></script>
<!-- TODO: LEAFLET JS take it to leaflet/js and leaflet/css instead of dist/ as above -->

</section>
{% endblock %}
