<!DOCTYPE html>

{% extends "base.html" %}

{% block head %}
<title>View Logs</title>
{%endblock%}

{%block body%}


<section class="content">

  <div class="row">
    <!-- <div class="col-sm-4">
      <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">My Logs</li>
      </ol>
      </nav>
    </div> -->
    <div class="col-sm-4">
      <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb">
        <li>Pilot: {{user.first_name}} {{user.last_name}}</li>
      </ol>
      </nav>
    </div>
    <!-- <div class="col-sm-4">
      <a class="btn btn-primary btn-block" href= " {% url 'logs_add' %}"
      role="button">
      <i class="fa fa-plus-square " aria-hidden="true" ></i> Add a flight log
       </a>
    </div> -->
  </div>

<div class="row">
  {% for log in mylogs %}

  <div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">Log No: {{log.reserve_airspace.application_number}}</h4>
      </div>
      <div class="panel-body">
        <h6 class="card-subtitle mb-2 text-muted">Date: {{log.date}}</h6>
      <p></p>
        RPAS Used: {{log.rpas}}
        <br>
        Purpose: {{log.purpose}}
        <br>
        Number of flights: {{log.pre_flight.no_of_flights}}
        <br>
        Area Size: {{log.pre_flight.area_size}}
        <p></p>

        <small>preflight completion</small>
        <span class='pull-right'>

            {% if log.get_preflight_completion != 100 %}
              <a href="{% url 'pre_flight_update' pk=log.get_pre_flight_pk %}">
                <i class="fa fa-external-link" aria-hidden="true">
                  <small> Complete</small>
                </i>
              </a>
              {% else %}
              <i class="fa fa-check" aria-hidden="true"></i>
                <small> Done</small>
              </i>
            {% endif %}
        </span>

        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar"
          style="width: {{log.get_preflight_completion}}%" aria-valuenow="{{log.get_preflight_completion}}"
          aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="panel-footer">
        <a class="btn btn-primary" href="{% url 'log_detail' pk=log.pk %}" role="button">
          <i class="fa fa-eye" aria-hidden="true"></i>
          View </a>
        <a class="btn btn-primary" href="{% url 'log_update' pk=log.pk %}" role="button">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          Update
        </a>
      </div>
    </div>
  </div>

    {%endfor%}
</div>

</section>


  {%endblock%}
