<!DOCTYPE html>
{% extends "base.html" %}

      {% load static %}
      {% load leaflet_tags %}

{% block head %}

      {%  leaflet_js %}
      {%  leaflet_css %}
      <style type="text/css">
        #gis {height:400px;}
      </style>
{% endblock %}

{% block body %}
<title>View Maps</title>
<div class="container">
  <nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Maps | Geofences | Corridors | Highways</li>
  </ol>
</nav>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <script type="text/javascript">
      function our_layers(map,options){
        var datasets = new L.GeoJSON.AJAX("{% url 'path_dataset'%}",{

        });

        datasets.addTo(map);
      }
      </script>

      {%  leaflet_map "gis" callback="window.our_layers" %}
    </div>
<script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}" >

</script>
    <div class="col-sm-4">

      {% for path in paths %}
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Name of Location: {{path.name}}</h6>
          <h7 class="card-subtitle mb-2 text-muted">Cordinates: {{path.rast}}</h6>
            <p></p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <p></p>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
