<!DOCTYPE html>
{% extends "base.html" %}

{% block head %}
    <title>Update Pre-Flight</title>
{%endblock%}

{%block body%}
{% load bootstrap3 %}

<section class="content">

  <div class="well well-lg">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">
          <b>Pre-Flight Details </b>
        </h3>
      </div>
      <div class="panel-body">
        <form class=""  method="POST">
          {% csrf_token %}
            {% bootstrap_form form %}
            <p></p>
          <input type="submit" class="btn btn-primary "value="Save">
        </form>
      </div>
    </div>

</div>


</section>

{%endblock%}
