<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block head %}
    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="stylesheet"
          href="{% static 'leaflet-search/src/leaflet-search.css' %}" />
    <title>Airspace</title>
    <style>
        #map {
            position: relative;
            left: 0px;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 80vh;
        }
        
        .leaflet-container {
            /* all maps */
            width: 100%;
            height: 85vh;
        }
    </style>
    <script src="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js"></script>
    <link href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css"
          rel="stylesheet" />
    <script src="{% static 'leafletMapbox/Leaflet.MapboxVectorTile.js' %}"></script>
    <script src="{% static 'leaflet-ajax/leaflet.ajax.min.js' %}"></script>
    <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>
    <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css"
          rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous" />
{% endblock %}
{% block body %}
    <section class="content">
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col-xs-5">
                    <span class="pull-left">
                        <a href="{% url 'create_reserve' %}">
                            Create Flight Plan
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </span>
                </div>
                <div class="col-xs-2">
                    <div class="text-center">
                        <a href="{% url 'home' %}"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-xs-5">
                    <span class="pull-right">
                        <a href="{% url 'logs_list' %}">
                            Go to Flight Logs
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </span>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div id="map">
                <img src="{% static 'logo/logo.png' %}"
                     class="logo"
                     width="120"
                     alt="Anga"
                     style="position: absolute;
                            bottom: 20px;
                            left: 4px;
                            max-height: 60px;
                            z-index: 99" />
            </div>
        </div>
        <script>
            const openAIPKey = '{{OPEN_AIP_KEY}}'
            const mapboxAccessToken = '{{MAPBOX_ACCESS_TOKEN}}'
            
            var map = L.map('map').setView([-1.03326, 37.06933], 8)
            
            var googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3'],
            }).addTo(map)
            
            // Add a base tile layer
            let aip_layer = L.tileLayer(
                'https://api.tiles.openaip.net/api/data/openaip/{z}/{x}/{y}.png?apiKey=58803704f98f6c1261d5d57e34bb27f6',
                {
                    attribution: '© OpenAIP',
                    maxZoom: 18,
                },
            ).addTo(map)
            
            var baseLayers = {
                OpenAIP: L.tileLayer(
                    'https://api.tiles.openaip.net/api/data/openaip/{z}/{x}/{y}.png?apiKey=58803704f98f6c1261d5d57e34bb27f6',
                    {
                        attribution: '© OpenAIP',
                        maxZoom: 18,
                    },
                ),
                Hotspots: L.tileLayer(
                    'https://api.tiles.openaip.net/api/data/hotspots/{z}/{x}/{y}.png?apiKey=58803704f98f6c1261d5d57e34bb27f6',
                    {
                        attribution: '© OpenAIP',
                        maxZoom: 18,
                    },
                ),
            }
            
            L.control.layers(baseLayers).addTo(map)
            
            L.control.fullscreen().addTo(map)
            
            map.locate()
            
            async function getCountry(lat, long, mapboxToken) {
                //console.log(mapboxToken,'token');
                x = await fetch(
                    `https://api.mapbox.com/geocoding/v5/mapbox.places/${long},${lat}.json?access_token=${mapboxToken}`,
                )
                    .then((response) => {
                        return response.json()
                    })
                    .then((data) => {
                        console.log(data, 'data')
                        return data
                    })
            
                return x
            }
            
            map.on('locationfound', function (e) {
                getCountry(e.latlng.lat, e.latlng.lng, mapboxAccessToken).then((data) => {
                    console.log(data, 'step 1')
                    const features = data['features']
                    console.log(features, 'step 2')
            
                    features.forEach((feature) => {
                        //if feature["id"].includes('country')
                        if (feature['place_type'][0] == 'country') {
                            console.log(feature['place_type'][0], 'step 3')
                            console.log(feature['properties'], 'step 3.5')
            
                            const bbox = feature['bbox']
                            console.log(bbox, 'step 3.7')
            
                            const bound_sw = L.latLng(bbox[1], bbox[0])
                            console.log(bound_sw, 'step 3.7')
            
                            const bound_ne = L.latLng(bbox[3], bbox[2])
                            console.log(bound_ne, 'step 3.7')
            
                            console.log([bound_sw, bound_ne], '[bound_sw, bound_ne]')
                            const bounds = [[bound_sw, bound_ne]]
                            //let bounds = L.latLngBounds(bound_sw, bound_ne);
                            console.log(bounds, 'bounds')
            
                            localStorage.setItem('bounds', JSON.stringify(bounds))
                            if (localStorage.getItem('setCountryBounds') == null) {
                                localStorage.setItem('setCountryBounds', false)
                            }
                        }
                    })
                })
            
                console.log(e.bounds, 'on location found')
                map.fitBounds(e.bounds)
            
                console.log('after the fact')
            
                map.setZoom(12)
            
                var myLayer = L.mapbox.featureLayer().addTo(map)
                myLayer.setGeoJSON({
                    type: 'Feature',
                    geometry: {
                        type: 'Point',
                        coordinates: [e.latlng.lng, e.latlng.lat],
                    },
                    properties: {
                        title: 'You Are Here!',
                        'marker-color': '#ff8888',
                        'marker-symbol': 'star',
                    },
                })
            })
            
            map.on('locationerror', function () {
                alert('Position could not be found')
                if (localStorage.getItem('bounds') == null) {
                    map.setMaxBounds([
                        [-4.77369399748329, 33.909937402767],
                        [5.03342194387382, 41.9067738648657],
                    ])
                }
            })
            
            //TO DO: URGENT SET TO COUNTRY
            //DONE:
            map.on('zoomstart', function (e) {
                // because localstorage returns null if not found
                console.log('XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX')
            
                if (
                    localStorage.getItem('bounds') !== null &&
                    localStorage.getItem('setCountryBounds') == 'false'
                ) {
                    //console.log(localStorage.getItem("bounds"),"its here")
                    //console.log(typeof JSON.parse(localStorage.getItem("bounds")),"its here")
                    console.log('setting the bounds')
                    map.setMaxBounds(JSON.parse(localStorage.getItem('bounds')))
                    localStorage.setItem('setCountryBounds', true)
                }
            })
            
            // ---------- RESERVED AIRSPACES LOAD --------------------------//
            var baseURL =
                location.protocol +
                '//' +
                location.hostname +
                (location.port && ':' + location.port)
            //console.log(baseURL,"baseURL")
            function getData() {
                return $.ajax({
                    url: `${baseURL}/applications/airspace/geojson/`,
                    type: 'GET',
                    cache: true,
                })
            }
            
            getData().then(function (data) {
                // do something with data
                // Note that calling `.eachLayer` here depends on setting GeoJSON _directly_
                // above. If you're loading GeoJSON asynchronously, like from CSV or from a file,
                // you will need to do this within a `featureLayer.on('ready'` event.
                var featureLayer = L.mapbox.featureLayer(data).addTo(map)
            
                featureLayer.eachLayer(function (layer) {
                    //console.log(layer,"layer in each")
                    //map.fitBounds(featureLayer.getBounds());
                    // here you call `bindPopup` with a string of HTML you create - the feature
                    // properties declared above are available under `layer.feature.properties`
                    var content =
                        '<h2>Booked Airspace</h2>' +
                        '<p>From: ' +
                        layer.feature.properties.name +
                        '<br />' +
                        'to: ' +
                        layer.feature.properties.name +
                        '</p>'
                    layer.bindPopup(content)
                })
            })
            
            // ---------------------------------//
        </script>
    </section>
{% endblock %}
