<!DOCTYPE html>
{% extends "base.html" %}

{% load static %}

{% load humanize %}
{% load group_perms %}
{% load leaflet_tags %}

{% block head %}

    <title>Applied Reserves</title>

    {%  leaflet_js %}
    {%  leaflet_css %}

    <style type="text/css">
      #gis {height:400px;}
    </style>
{% endblock %}

{% block body %}



<section class="content-header">
   {% if request.user|has_group:"KCAA" %}

  <h1>
      My Dashboard
    <small>Summary</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">All Applications</li>
  </ol>
</section>


<section class="content">

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">All Applied Reserves</h3>
        </div>
        <div class="panel-body">
          <script type="text/javascript">
          function our_layers(map,options){
            var datasets = new L.GeoJSON.AJAX("{% url 'airspace_datasets'%}",{

            });

            datasets.addTo(map);
          }
          </script>

          {%  leaflet_map "gis" callback="window.our_layers" %}
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">
          SUMMARY DASHBOARD
        </div>
        <div class="panel-body">
        
        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">{{applied_reserves.count}}</span>
            Number of Pending Approvals
          </li>
          <li class="list-group-item">
            <span class="badge">{{approved_airspaces_count}}</span>
            Number of Approved Flights
          </li>
          <li class="list-group-item">
            <span class="badge">{{rejected_airspaces_count}}</span>
            Number of Rejected Flights
          </li>
          <li class="list-group-item">
            <span class="badge">x</span>
            Commercial Flights Pending Approvals
          </li>
          <li class="list-group-item">
            <span class="badge">x</span>
            Private Flights Pending Approvals
          </li>
          <li class="list-group-item">
            <span class="badge">x</span>
            Clubs Flights Pending Approvals
          </li>

        </ul>
        </div>
      </div>
    </div>
</div>


<div class="row">

      {% for applied_reserve in applied_reserves %}
      <div class="col-sm-3">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            Time to Flight: <b>{{applied_reserve.get_start_datetime | timeuntil }}</b>
          </div>

  <div class="panel-body">
    <h6 class="card-subtitle mb-2 ">
      <i class="fa fa-hourglass-start" aria-hidden="true"></i>
      Start:  <b>{{applied_reserve.start_day | naturalday}} {{applied_reserve.start_time}}</b></h6>
    <h6 class="card-subtitle mb-2 ">
      <i class="fa fa-hourglass-end" aria-hidden="true"></i>
      End: <b>{{applied_reserve.end}}</b></h6>
    <ul class="list-group">
      <li class="list-group-item">
        <i class="fa fa-user-o" aria-hidden="true"></i>
        Applicant: {{applied_reserve.created_by.get_full_name}}</li>
      <li class="list-group-item">
        <i class="fa fa-building" aria-hidden="true"></i>
         Company: {{applied_reserve.created_by.userprofile.organization.organization_details}}</li>
    </ul>
    <p></p>
    <h6>Approval Status: {{applied_reserve.get_status_display}}</h6>

  </div>
  <div class="panel-footer">
    <a href="{% url 'applied_reserves_update' pk=applied_reserve.pk %} " class="card-link">View Details
    <i class="fa fa-external-link" aria-hidden="true"></i>
    </a>
  </div>
</div>
</div>


      {% endfor %}


{% else %}

<div class="row">
  <div class="col-xs-3">

  </div>
  <div class="col-xs-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
        OOPS!
      </div>
      <div class="panel-body">
        You've wandered off to a place you are not supposed to be!!!!

        <p>Go Home immediately!</p>

        <hr> Meanwhile, we have noted this and our guy(s) are working on it.
      </div>
    </div>
  </div>
  <div class="col-xs-3">

  </div>
</div>

{% endif %}
<script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>
</section>




{% endblock %}
