{% extends "base.html" %}


{% load static %}
{% load group_perms %}


{% block head %}
    <title>Update Reserve</title>

      <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css">


 {% comment %} <script src="{% static 'js/datepicker-widget.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/datepicker-widget.css' %}"> {% endcomment %}


  {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% load leaflet_tags %}
    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
  {{ form.media }}

{%endblock%}


{%block body%}

<section class="content">

{% if request.user|has_group:"CAA" %}

    {% comment %} TO DO: ALLOW CAA GUYS ONLY
    --FIXED
    {% endcomment %}


    {% load leaflet_tags %}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}


        {% comment %} {{ form.media }} {% endcomment %}

          <form method="POST">
              {% csrf_token %}

            <h5 class="text-center">  {% bootstrap_form_errors form %} </h5>

{% include 'applications/includes/detail.html'%}
    <div class="row">
      <div class="col-sm-5">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Flight Times</h3>
          </div>
          <div class="panel-body">
    If you change this for the applicant,
              Make sure to note it down in the comments section
    <hr>
            <span class="label label-primary"></span>
              {% comment %} {% bootstrap_field form.rpas %} {% endcomment %}
            <br>
          <span class="label label-primary">Change Start Day :</span>
            {% bootstrap_field form.start_day %}
          <br>
          <span class="label label-primary">Change Start Time :</span>
            {% comment %} {{ form.start_time }} {% endcomment %}
            {% bootstrap_field form.start_time %}

          <br>
          <span class="label label-primary">Change End Time: :</span>
          {{ form.end }}

          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Change the Applicant's Requested Airspace</h3>
          </div>
          <div class="panel-body">
            <div class="alert alert-info" role="alert">You can change this</div>
            {% bootstrap_field form.geom %}
          </div>
        </div>

      </div>

    </div>




    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Add Comments for applicant to change</h3>
              </div>
              <div class="panel-body">

              {% bootstrap_field form.comments %}
          </div>
        </div>

      </div>
      <div class="col-sm-8">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">APPROVE/REJECT/IGNORE APPLICATION</h3>
              </div>
              <div class="panel-body">
                <div class="alert alert-info" role="alert">Approve/reject and write comments below</div>
                {% bootstrap_field form.status %}
              </div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>

      </div>

    </div>





    </form>




    {% else %}

    <div class="row">
      <div class="col-xs-3">

      </div>
      <div class="col-xs-6">
        <div class="panel panel-danger">
          <div class="panel-heading">
            OOPS!
          </div>
          <div class="panel-body">
            You've wandered off to a place you are not supposed to be!!!!

            <p>Go Home immediately!</p>

            <hr>
            Meanwhile, we have noted this and our guy(s) are working on it.
          </div>
        </div>
      </div>
      <div class="col-xs-3">

      </div>
    </div>

    {% endif %}
    </section>

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  {% comment %} <!-- Bootstrap 3.3.7 --> {% endcomment %}
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" />
  {% comment %} <!-- jQuery 3 --> {% endcomment %}
  <script src="{% static 'adminlite/bower_components/jquery/dist/jquery.min.js' %}">


  {% comment %} <!-- jQuery UI 1.11.4 --> {% endcomment %}
  <script src="{% static 'adminlite/bower_components/jquery-ui/jquery-ui.min.js' %}"></script>

{%endblock%}
