
{% load static %}
<html>

<head>
  <title>Add Reserve</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'adminlite/bower_components/Ionicons/css/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlite/dist/css/AdminLTE.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlite/dist/css/skins/_all-skins.min.css' %}">

    <script src="{% static 'adminlite/bower_components/jquery/dist/jquery.min.js' %}"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


  <link rel="stylesheet" href="{% static 'leaflet-search/src/leaflet-search.css' %}">


  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
  <link rel="stylesheet" href="{% static 'leaflet-measure/dist/leaflet-measure.css' %}">
  <link rel="stylesheet" href="{% static 'leaflet-measure/normalize.css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'leaflet-measure-path/leaflet-measure-path.css' %}">
  <link rel="stylesheet" href="{% static 'leaflet-coordinates/Leaflet.Coordinates-0.1.5.css' %}">

  <style>
    .leaflet-container {
      /* all maps */
      width: 100%;
      height: 70vh;
    }

    body {
      padding: 0px;
      margin: 0px;
      padding-top: 0px;
      margin-top: 0px;

    }
  </style>


    {% comment %} <script src="{% static 'js/datepicker-widget.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/datepicker-widget.css' %}"> {% endcomment %}


  {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% load leaflet_tags %}
    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}

  {{ form.media }}


    <script src="{% static 'leafletMapbox/Leaflet.MapboxVectorTile.js' %}"></script>

  </head>

<body>

  <div class="row">
    <div class="col-xs-12">
      <a href="{% url 'home' %}" class="btn btn-primary btn-block">Home</a>
    </div>
  </div>

{% if my_pending_approval_airspaces_count <= 40 %}

  <form method="POST" enctype="multipart/form-data">
    <div class="text-center">
       {% bootstrap_form_errors form %}
       {{ form.fieldname.errors }}

    </div>


   {% csrf_token %}
    <div class="row">

      <div class="col-sm-9">
        <div class="col-sm-8">
          <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <!-- <strong>Tip!</strong> -->
            <p><strong>Tip!</strong> Click the fullscreen icon (
              <i class="ion-android-expand"></i> ) on the map for a better experience.
            </p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">

            {{form.geom}}

          </div>
        </div>
      </div>

      <!-- <div class="col-sm-1">
        <h2>OR </h2>
      </div>

      <div class="col-sm-2">
        <div class="panel panel-default">
          <div class="panel-body">
            {% bootstrap_field form.log %}

          </div>
        </div>
      </div> -->


      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-body">
              <em>Alternatively, you can upload a mission planner log instead of drawing on the map</em>


             {% bootstrap_field form.log %}
             <hr>
            {% bootstrap_field form.rpas %}
            {% bootstrap_field form.start_day  %}



            {% comment %} {% bootstrap_field form.start_time  %} {% endcomment %}

            Start Time :{{ form.start_time  }}
            End Time: {{ form.end }}

            <!-- <hr> -->
            <!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Waypoints Drawings Datas
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <h5><code>measurefinish</code> event data:</h5>
                    <pre id="eventoutput">...</pre>
                  </div>
                </div>
              </div>
            </div> -->

            <hr>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>

          </div>
        </div>
      </div>

    </div>

  </form>





  <script type="text/javascript">
    function id_site_location_geom_map_callback(map, options) {

      geodjango_id_site_location_geom.store_class = L.FieldStore;

      (new geom(geodjango_id_site_location_geom)).addTo(map);

    };

    var url = "https://api.airmap.com/maps/v4/tiles";

      //https://developers.airmap.com/v2.0/docs/add-airspace-layers-to-the-map
      var layers = [
        "airports_commercial",
        "airports_recreational_private",
        "airports_commercial_private",
        "class_b",
        "class_c",
        "class_d",
        "class_e0",
        "sua_prohibited",
        "sua_restricted",
        "national_parks",
        "noaa",
        "hospitals",
        "schools",
        "heliports",
        "power_plants",
        "tfrs",
        "wildfires"
      ];

      var layerString = layers.toString().split(",");

      console.log(layerString,"layerstring")

      const AIRMAP_API_KEY =
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjcmVkZW50aWFsX2lkIjoiY3JlZGVudGlhbHw0Z242Z0tNaW5KODQza2h6NjRFZGJpT1pBS25hIiwiYXBwbGljYXRpb25faWQiOiJhcHBsaWNhdGlvbnxRTHk0NVIySDhKV3YzZ2lOUUdtM1poRHYwQTRxIiwib3JnYW5pemF0aW9uX2lkIjoiZGV2ZWxvcGVyfDc5NVlrQm1Db3hSQm53aTluOURiTEh3OTVLMFEiLCJpYXQiOjE1MjcxNTA4MDJ9.TkESuJIEQ9pjfU9F4TgIUNCF15OO2eeWU1GRONXf33Q";


     var mvtSource = new L.TileLayer.MVTSource({
        url: url + "/" + layerString + `/{z}/{x}/{y}.pbf?apikey=${AIRMAP_API_KEY}`,
        clickableLayers: [...layers],
        mutexToggle: true,
        getIDForLayerFeature: function(feature) {
          //console.log(feature.properties.name,"feature.properties")
          return feature.properties.name;
        },
        onClick: function(e) {
        // https://github.com/SpatialServer/Leaflet.MapboxVectorTile/issues/53
          console.log(e,'click');
        // console.log([...layers],'layers');


          var feature = e.feature;
          console.log(feature,"feature");
          console.log(feature !== null," feature !== null should be true ");


          coord = e.latlng;
          console.log(coord,"coord ");

          if(feature !== undefined &&  feature !== null ){
            var prop = feature.properties;
            var popup = L.popup({ closeOnClick : true })
              .setLatLng( coord )
              .setContent( prop.name )
              .openOn( feature.map );
          }
        },

        style: function(feature) {
          var layer = feature.properties.type;
          return getStyle(layer);
        }
      });

      //mvtSource.addTo(map)


    bounds = new L.LatLngBounds(new L.LatLng(4.740950, 41.858445), new L.LatLng(-4.921208, 33.922226));

    geom = L.GeometryField.extend({
      addTo: function (map) {

        L.GeometryField.prototype.addTo.call(this, map);
        // Customize map for field

        {% include 'applications/includes/search.html' %}

        drawControl = this._drawControl;

        drawControl._toolbars.draw.options.polyline = false;
        drawControl._toolbars.draw.options.polygon = true;
        drawControl._toolbars.draw.options.rectangle = true;
        drawControl._toolbars.draw.options.marker = false;

        drawControl.options.draw.polygon.allowIntersection = false;
        drawControl.options.draw.polygon.showArea = true;


        map.addControl(drawControl);

        map.addControl(new L.Control.Fullscreen());



        {% include 'maps/includes/geofence_datasets.html' %}
        {% include 'notams/includes/notam_datasets.html' %}
        {% include 'applications/includes/reserved_airspace_datasets.html' %}
        {% include 'maps/includes/location_datasets.html' %}

        {% include 'applications/includes/location.html' %}


        {% include 'maps/includes/offline_layers.html' %}
        {% include 'maps/includes/mouse_coordinates.html' %}

        var measureControl = L.control.measure();
        measureControl.addTo(map);

        // var sidebar = L.control.sidebar('sidebar', {position: 'right'}).addTo(map);

        // map.on('measurefinish', function (evt) {
        //   writeResults(evt);
        // });

        // function writeResults (results) {
        //   document.getElementById('eventoutput').innerHTML = JSON.stringify({
        //     area: results.area,
        //     areaDisplay: results.areaDisplay,
        //     lastCoord: results.lastCoord,
        //     length: results.length,
        //     lengthDisplay: results.lengthDisplay,
        //     pointCount: results.pointCount,
        //     points: results.points
        //   }, null, 2);
        // }

        var latlngs = L.rectangle(bounds).getLatLngs();
        // L.polyline(latlngs[0].concat(latlngs[0][0])).addTo(map);
        map.setMaxBounds(bounds); // Should not enter infinite recursion



        map.on('draw:created', function (event) {
          // Assuming the clicked feature is a shape, not a point marker.
          console.log(event)
          map.fitBounds(event.layer.getBounds());


        });



        map.on('draw:edited', function (e) {
          var layers = e.layers;
          layers.eachLayer(function (layer) {
            if (layer instanceof L.Polygon) {
              //Do marker specific actions here
              map.fitBounds(layer.getBounds());
            }
          });
        });



      }

    });




  </script>


  <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>
  <script type="text/javascript" src="{% static 'leaflet-search/src/leaflet-search.js' %}"></script>

  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
  <script type="text/javascript" src="{% static 'leaflet-measure/dist/leaflet-measure.js' %}"></script>


  <!-- <script type="text/javascript" src="{% static 'leaflet-sidebar/js/leaflet-sidebar.js' %}" ></script> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.5.0/localforage.js"></script>
  <script type="text/javascript" src="{% static 'leaflet-offline/leaflet-offline.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'leaflet-coordinates/Leaflet.Coordinates-0.1.5.min.js' %}"></script>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <!-- jQuery 3 -->
  <script src="{% static 'adminlite/bower_components/jquery/dist/jquery.min.js' %}">
  <!-- Bootstrap 3.3.7 -->
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


  <!-- jQuery UI 1.11.4 -->
  <script src="{% static 'adminlite/bower_components/jquery-ui/jquery-ui.min.js' %}"></script>

  <!-- Sparkline -->
  <!-- Slimscroll -->
  <script src="{% static 'adminlite/bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
  <!-- FastClick -->
  <script src="{% static 'adminlite/bower_components/fastclick/lib/fastclick.js' %}"></script>




{% else %}
<p></p>
<div class="row">
  <div class="col-sm-3">

  </div>
  <div class="col-sm-6">
    <div class="panel panel-danger" >
      <div class="panel-heading" style="text-align:center">
        Sorry, Can't Make a New Flight
      </div>
      <div class="panel-body">
        <h6 class='text-center'>
          You have already reached the max number un-approved Flights (10).
          You are required to have less the number to make a new Flight
        </h6>
        <hr>
        <h6>Your Last {{my_pending_approval_airspaces_count}} are:</h6>
        {% for my_pending_approval_airspace in my_pending_approval_airspaces %}
        <p>
          <a href="{% url 'myreserve_detail' pk=my_pending_approval_airspace.pk %}">{{my_pending_approval_airspace}}</a>
        </p>
        {% endfor %}
      </div>
      <div class="panel-footer">
        Kindly Go to
        <p><a href="{% url 'my_reserve_list' %}" class="btn btn-primary btn-block"> All your Applied Reserves</a></p>
      </div>
    </div>

  </div>
  <div class="col-sm-3">

  </div>
</div>

{% endif %}
</body>

</html>
