<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Add Reserve</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"
    />

    <script src="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js"></script>
    <link
      href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css"
      rel="stylesheet"
    />
    <link
      href="https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.3/leaflet.draw.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.3/leaflet.draw.js"></script>

    <script src="{% static 'leafletMapbox/Leaflet.MapboxVectorTile.js' %}"></script>
    <script src="{% static 'leaflet-ajax/leaflet.ajax.min.js' %}"></script>

    <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>
    <link
      href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css"
      rel="stylesheet"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous"
    />

    <style>
      .leaflet-container {
        /* all maps */
        width: 100%;
        height: 70vh;
      }

      body {
        padding: 0px;
        margin: 0px;
        padding-top: 0px;
        margin-top: 0px;
      }
    </style>

    <style>
      #map {
        position: relative;
        left: 0px;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 80vh;
      }
      body {
        margin: 0;
        padding: 0;
      }

      .logo {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
      }
    </style>

    {{ form.media }}
  </head>

  <body>
    <div class="container">
      <div class="col-sm-4"></div>

      <div class="col-sm-6">
        <a href="{% url 'home' %}" class="btn btn-success btn-block">
          Go Back Home</a
        >
      </div>

      <div class="col-sm-4"></div>
    </div>

    <div class="container">
      <form
        method="POST"
        enctype="multipart/form-data"
        id="reserveform"
        onsubmit="submit_form()"
      >
        <div class="text-center">
          {% comment %} {% bootstrap_form_errors form %} {% endcomment %}
        </div>

        {% csrf_token %}

        <div class="row" style="margin-top: 20px;">
          <!-- MAP  -->

          <div class="col-sm-8">
            <div class="panel panel-default">
              <div id="map">
                <img
                  src="{% static 'logo/logo.png' %}"
                  class="logo"
                  width="70"
                  alt="Anga"
                  style="max-height:60px; margin-left: 4px; margin-bottom: 20px;"
                />
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <!-- Mission Name  -->
            <div class="col-xs-12">
              <div class="form-group">
                <label class="control-label" for="reserve_name"
                  >Mission Name</label
                >
                <input
                  type="text"
                  name="name"
                  maxlength="255"
                  class="form-control"
                  placeholder="Mission Name"
                  title=""
                  id="reserve_name"
                  required="true"
                  onkeyup="manageText()"
                />
              </div>
            </div>
            <!-- RPAS -->
            <div class="col-xs-12">
              <div class="">
                <div class="form-group">
                  <label class="control-label" for="id_rpas">Rpas</label>
                  <select
                    name="rpas"
                    class="form-control"
                    title=""
                    required=""
                    id="id_rpas"
                  >
                    <option value="" selected="">---------</option>

                    {% for rpas in my_rpas %}

                    <option value="{{rpas.pk}}">{{rpas}}</option>

                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>

            <!-- Start Date -->
            <div class="col-xs-12">
              <div class="form-group">
                <label class="control-label" for="datetimepicker3"
                  >Start Day</label
                >
                <div class="input-group date" id="datetimepicker3">
                  <input
                    type="text"
                    class="form-control"
                    id="id_startday"
                    required="true"
                  />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>

            <!-- Start Time -->
            <div class="col-xs-12">
              <div class="form-group">
                <label class="control-label" for="timepicker3"
                  >Start Time</label
                >
                <div class="input-group date" id="timepicker3">
                  <input
                    type="text"
                    class="form-control"
                    id="id_start_time"
                    required="true"
                  />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                  </span>
                </div>
              </div>
            </div>

            <!-- End Time -->
            <div class="col-xs-12">
              <div class="form-group">
                <label class="control-label" for="timepicker4">End Time</label>
                <div class="input-group date" id="timepicker4">
                  <input
                    type="text"
                    class="form-control"
                    id="id_end_time"
                    required="true"
                  />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                  </span>
                </div>
              </div>
            </div>

            <!-- log -->
            <div class="col-xs-12">
              <div class="form-group">
                <label class="control-label" for="id_log">Log</label>
                <p style="font-size: smaller;"></p>

                <em
                  >Alternatively, you can upload a mission planner log instead
                  of drawing on the map</em
                >

                <div class="row bootstrap3-multi-input">
                  <div class="col-xs-12">
                    <input
                      type="file"
                      name="log"
                      class=""
                      title=""
                      id="id_log"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <button
            type="submit"
            id="btn-submit"
            class="btn btn-primary btn-lg btn-block"
            disabled="true"
          >
            Submit
          </button>
        </div>
      </form>
    </div>

    <script type="text/javascript">
      $(function() {
        $("#datetimepicker3").datetimepicker({
          useCurrent: true,
          minDate: moment(),
          format: "L"
        });
      });
    </script>

    <script type="text/javascript">
      $(function() {
        $("#timepicker3").datetimepicker({
          format: "LT"
        });
      });
    </script>

    <script type="text/javascript">
      $(function() {
        $("#timepicker4").datetimepicker({
          format: "LT"
        });
      });
    </script>

    <script>
      L.mapbox.accessToken = "{{MAPBOX_ACCESS_TOKEN}}"
      var map = L.mapbox
        .map("map", "mapbox.streets")
        .setView([-1.03326, 37.06933], 14);

      //-1.03326, 37.06933 thika
      //-1.336661, 36.912672 jkia

      L.control.fullscreen().addTo(map);

      map.locate();

      map.on('locationfound', function(e) {
      map.fitBounds(e.bounds); //TODO: URGENT: SET to  country
      map.setZoom(12)
      })

      map.on('locationerror', function() {
        alert("Position could not be found")
      });

      // ---------- AIRMAP AIRSPACES LOAD --------------------------//
      var url = "https://api.airmap.com/maps/v4/tiles";

      //https://developers.airmap.com/v2.0/docs/add-airspace-layers-to-the-map
      var layers = [
        "airports_commercial",
        "airports_recreational_private",
        "airports_commercial_private",
        "class_b",
        "class_c",
        "class_d",
        "class_e0",
        "sua_prohibited",
        "sua_restricted",
        "national_parks",
        "noaa",
        "hospitals",
        "schools",
        "heliports",
        "power_plants",
        "tfrs",
        "wildfires"
      ];

      var layerString = layers.toString().split(",");

      console.log(layerString, "layerstring");

      const AIRMAP_API_KEY = "{{AIRMAP_API_KEY}}"

      function getStyle(layer) {
        var style = {};
        switch (layer) {
          case "airports_recreational":
          case "airports_recreational_private":
          case "airports_commercial":
          case "airports_commercial_private":
          case "hospitals":
          case "heliports":
          case "power_plants":
          case "schools":
            style.color = "rgba(246, 165, 23, 0.2)";
            style.outline = {
              color: "rgb(246, 165, 23)",
              size: 0
            };
            break;
          case "national_parks":
          case "noaa":
            style.color = "rgba(224, 18, 18, 0.2)";
            style.outline = {
              color: "rgb(224, 18, 18)",
              size: 0
            };
            break;
          case "sua_restricted":
          case "sua_prohibited":
            style.color = "rgba(27, 90, 207, 0.2)";
            style.outline = {
              color: "rgb(27, 90, 207)",
              size: 0
            };
            break;
          case "class_b":
            style.color = "rgba(26, 116, 179, 0.2)";
            style.outline = {
              color: "rgb(26, 116, 179)",
              size: 0
            };
            break;
          case "class_c":
            style.color = "rgba(155, 108, 157, 0.3)";
            style.outline = {
              color: "rgb(155, 108, 157)",
              size: 0
            };
            break;
          case "class_d":
            style.color = "rgba(26, 116, 179, 0.2)";
            style.outline = {
              color: "rgb(26, 116, 179)",
              size: 0
            };
            break;
          case "class_e0":
            style.color = "rgba(155, 108, 157, 0.2)";
            style.outline = {
              color: "rgb(155, 108, 157)",
              size: 0
            };
            break;
        }

        return style;
      }

      var mvtSource = new L.TileLayer.MVTSource({
        url:
          url + "/" + layerString + `/{z}/{x}/{y}.pbf?apikey=${AIRMAP_API_KEY}`,
        clickableLayers: [...layers],
        mutexToggle: true,
        getIDForLayerFeature: function(feature) {
          //console.log(feature.properties.name,"feature.properties")
          return feature.properties.name;
        },
        onClick: function(e) {
          // https://github.com/SpatialServer/Leaflet.MapboxVectorTile/issues/53
          console.log(e, "click");
          // console.log([...layers],'layers');

          var feature = e.feature;
          console.log(feature, "feature");
          console.log(feature !== null, " feature !== null should be true ");

          coord = e.latlng;
          console.log(coord, "coord ");

          if (feature !== undefined && feature !== null) {
            var prop = feature.properties;
            var popup = L.popup({ closeOnClick: true })
              .setLatLng(coord)
              .setContent(prop.name)
              .openOn(feature.map);
          }
        },

        style: function(feature) {
          var layer = feature.properties.type;
          return getStyle(layer);
        }
      });

      //console.log(mvtSource.layers[Object.keys(layers)[0]],'mvtSource');
      //Add layer
      map.addLayer(mvtSource);

      console.log(mvtSource.layers, "mvtSource.layers");
      console.log(typeof mvtSource.layers, "typeof mvtSource.layers");

      var x = mvtSource.layers;
      console.log(x.sua_restricted, "x");
      // var y = mvtSource.layers.sua_restricted.features.coordinates

      // console.log(y,"y");

      // var keys = Object.keys(x)

      // console.log(keys,"keys");

      // ------------------------------------//

      // ---------- RESERVED AIRSPACES LOAD --------------------------//
      var baseURL = location.protocol + "//" + location.hostname + (location.port && ":" + location.port);
        //console.log(baseURL,"baseURL")
      function getData() {
        return $.ajax({
          url: `${baseURL}/applications/airspace/geojson/`,
          type: "GET",
          cache: true
        });
      }

      getData().then(function(data) {
        // do something with data
        // Note that calling `.eachLayer` here depends on setting GeoJSON _directly_
        // above. If you're loading GeoJSON asynchronously, like from CSV or from a file,
        // you will need to do this within a `featureLayer.on('ready'` event.
        var featureLayer = L.mapbox.featureLayer(data).addTo(map);

        featureLayer.eachLayer(function(layer) {
          //console.log(layer,"layer in each")
          //map.fitBounds(featureLayer.getBounds());
          // here you call `bindPopup` with a string of HTML you create - the feature
          // properties declared above are available under `layer.feature.properties`
          var content =
            "<h2>Booked Airspace<\/h2>" +
            "<p>From: " +
            layer.feature.properties.name +
            "<br \/>" +
            "to: " +
            layer.feature.properties.name +
            "<\/p>";
          layer.bindPopup(content);
        });
      });

      // ---------------------------------//

      // ---------- DRAW NEW AIRSPACE --------------------------//

      var featureGroup = L.featureGroup().addTo(map);

      var drawControl = new L.Control.Draw({
        edit: {
          featureGroup: featureGroup
        },
        draw: {
          polygon: true,
          marker: false,
          polyline: false,
          circle: false
        }
      }).addTo(map);

      //https://github.com/Leaflet/Leaflet.draw/issues/315
      var drawControlEditOnly = new L.Control.Draw({
        edit: {
          featureGroup: featureGroup
        },
        draw: false
      });

      // Add real-time drawing
      map.on("draw:created", function(e) {
        //console.log(e.layer,"waddduuuup");
        // console.log(e.layer._latlngs,"latlngs");
        featureGroup.addLayer(e.layer);

        var json = featureGroup.toGeoJSON();
        console.log(json, "json");
        localStorage.setItem("geom", JSON.stringify(json));

        manageGeom();

        drawControl.removeFrom(map);
        drawControlEditOnly.addTo(map);
      });

      map.on("draw:deleted", function(evt) {
        layer = evt.layer;
        // do something when polygon is deleted
        drawControl.addTo(map);
        drawControlEditOnly.removeFrom(map);

        localStorage.clear("geom");
        manageGeom();
      });
    </script>

    <script>
      //console.log(L,"L");
      //console.log(featureGroup,"featureGroup.layers");

      function manageText() {
        console.log("manageText called");
        var name = document.getElementById("reserve_name").value;
        var geom = localStorage.getItem("geom");

        var date = document.getElementById("id_startday").value;
        console.log(date, "date");

        console.log(name == undefined, "name==undefined");
        console.log(name == null, "name==null");
        console.log(name == "", "name==''");

        var bt = document.getElementById("btn-submit");
        if (name == "" || geom == null) {
          bt.disabled = true;
        } else {
          bt.disabled = false;
        }
      }

      function manageGeom() {
        console.log("manageGeom called");

        var name = document.getElementById("reserve_name").value;

        var geom = localStorage.getItem("geom");
        console.log(geom, "geom");
        console.log(geom == undefined, "geom==undefined");
        console.log(geom == null, "geom==null");
        console.log(geom == "", "geom==''");

        var bt = document.getElementById("btn-submit");
        if (geom == null || name == "") {
          bt.disabled = true;
        } else {
          bt.disabled = false;
        }
      }

      //function submit_form1() {
      //  document.getElementById("reserveform").submit();
      //}

      function submit_form() {
        var name = document.getElementById("reserve_name").value;

        var geom = localStorage.getItem("geom");

        var csrftoken = "{{ csrf_token }}";

        //console.log(csrftoken, "csrftoken");

        //console.log(localStorage.getItem("geom"), "getitem");
       // console.log(typeof localStorage.getItem("geom"), "typeof localstorage");

        var data = {
          name: name,
          geom: localStorage.getItem("geom"),
          rpas: document.getElementById("id_rpas").value,
          start_day: document.getElementById("id_startday").value,
          start_time: document.getElementById("id_start_time").value,
          end: document.getElementById("id_end_time").value
        };

        var baseURL = location.protocol + "//" + location.hostname + (location.port && ":" + location.port);
        //console.log(baseURL,"baseURL")

        fetch(`${baseURL}/api/applications/create/`, {
          method: "POST", // or 'PUT'
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken
          },
          body: JSON.stringify(data)
        })
          .then(function(res) {
            return res.json();
          })
          .then(function(data) {
            console.log(data, "final data");
            //let result = `<h2> User Info From sampleUser.json </h2>`;
            //document.getElementById('result').innerHTML = result;

            localStorage.clear("geom");
          })
          .catch(function(error) {
            console.log(error, "error");
            localStorage.clear("geom");
          });
      }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="{% static 'bootstrap/js/collapse.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-for-picker.js' %}"></script>
    <script src="{% static 'bootstrap/js/datepicker.min.js' %}"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
