SECRET_KEY=
DATABASE_NAME=anga_utm
TEST_DATABASE_NAME=anga_test_db
CORS_ALLOWED_ORIGINS=
DATABASE_USER=postgres
DATABASE_HOST=localhost
DATABASE_PASSWORD=postgres
DEBUG=False

AWS_ACCESS_KEY_ID=yourawsaccessidgoeshere
AWS_SECRET_ACCESS_KEY=yoursecretaccesskeygoeshere
AWS_STORAGE_BUCKET_NAME=yourawsbucketname

ALLOWED_HOSTS=localhost,yourdomain.com, youripadrress

EMAIL_HOST_USER=username
EMAIL_HOST_PASSWORD=password


VAPID_PUBLIC_KEY=yourpublickey
VAPID_PRIVATE_KEY=yourprivatekey
VAPID_ADMIN_EMAIL=admin@example.com
AIRMAP_API_KEY=yourairmapkey
MAPBOX_ACCESS_TOKEN=your mapboxkey
