 {% extends "base.html" %} 
 
 {% load bootstrap3 %}
 
 {% block head %}
    <title>Add Postholder</title>
 {%endblock%}


{%block body%}

<section class="content">


    <form  method="POST" >
        {% csrf_token %}

        <div class="row">
            <div class="col-xs-3">
                
            </div>
            <div class="col-xs-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Postholder</h3>
                    </div>
                    <div class="panel-body">
                        {% bootstrap_form form%}
                    </div>
                </div>
               
                <input type="submit" class="btn btn-primary btn-block" value="Save">
            </div>
            <div class="col-xs-3">
            
            </div>
        </div>
        

    </form>





</section>
{%endblock%}