
                        // var editableLayers = new L.FeatureGroup();
                        // map.addLayer(editableLayers);
                        //
                        // var options = {
                        //         position: 'topright',
                        //         draw: {
                        //             polyline: {
                        //                 shapeOptions: {
                        //                     color: '#f357a1',
                        //                     weight: 10
                        //                 }
                        //             },
                        //
                        //             polygon: {
                        //       					shapeOptions: {
                        //       						color: 'blue'
                        //       					},
                        //       					allowIntersection: false,
                        //       					drawError: {
                        //       						color: 'orange',
                        //       						timeout: 1000
                        //       					},
                        //       					showArea: true,
                        //       					metric: true
                        //       				},
                        //
                        //             circle: false, // Turns off this drawing tool
                        //
                        //             rectangle: {
                        //                 shapeOptions: {
                        //                     clickable: false
                        //                 }
                        //             },
                        //
                        //         },
                        //         edit: {
                        //             featureGroup: editableLayers, //REQUIRED!!
                        //             remove: true
                        //         }
                        //     };
                        //
                        //     var drawControl = new L.Control.Draw(options);
                        //     map.addControl(drawControl);
                        //
                        //
                        //     map.on(L.Draw.Event.CREATED, function (e) {
                        //              var type = e.layerType;
                        //              layer = e.layer;
                        //
                        //              editableLayers.addLayer(layer);
                        //          });
