map.locate({setView: true, maxZoom: 13});

function onLocationFound(e) {
    var radius = e.accuracy / 2;

    var myIcon = L.icon({
    iconUrl: 'https://cdn6.aptoide.com/imgs/e/d/1/ed1671f920af9021ed52b80f00460f91_icon.png?w=240',
    iconSize: [30, 30],
    <!-- iconAnchor: [22, 94], -->
    popupAnchor: [0, -10],
    <!-- shadowUrl: '', -->
    <!-- shadowSize: [68, 95], -->
    <!-- shadowAnchor: [22, 94] -->
      });

    L.marker(e.latlng, {icon: myIcon}).addTo(map);

    <!-- L.marker(e.latlng, {icon: myIcon}).addTo(map).bindPopup("You are within " + radius + " meters from this point").openPopup(); -->


<!-- L.circle(e.latlng, radius).addTo(map); -->
}

map.on('locationfound', onLocationFound);

function onLocationError(e) {
    alert(e.message);
}

map.on('locationerror', onLocationError);
