{% load static %}
        if (feature.geometry.type === 'Polygon') {

            if (props.get_airframe_type === 'QUADCOPTER') {

                var airportIcon = L.icon({
                    iconUrl: '{% static "leaflet-icons/quadcopter.png" %}',
                    <!-- shadowUrl: 'leaf-shadow.png', -->
                    iconSize:     [25, 25], // size of the icon
                    <!-- shadowSize:   [50, 64], // size of the shadow -->
                    <!-- iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location -->
                    <!-- shadowAnchor: [4, 62],  // the same for the shadow -->
                    <!-- popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor -->
                });

            }
            else if (props.get_airframe_type === 'PLANE'){

                var airportIcon = L.icon({
                    iconUrl: '{% static "leaflet-icons/fixed-wing.png" %}',
                   <!-- shadowUrl: 'leaf-shadow.png', -->
                    iconSize:     [20, 15], // size of the icon
                    <!-- shadowSize:   [50, 64], // size of the shadow -->
                    <!-- iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location -->
                    <!-- shadowAnchor: [4, 62],  // the same for the shadow -->
                    <!-- popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor -->
                });
            }


            // Don't stroke and do opaque fill
            layer.setStyle({
                'weight': 4,
                'fillOpacity': 0.4

            });
            // Get bounds of polygon
            var bounds = layer.getBounds();
            // Get center of bounds
            var center = bounds.getCenter();
            // Use center to put marker on map
            <!-- var marker = L.marker(center).addTo(map); -->
            <!-- var marker = L.marker(center, {icon: airportIcon}).addTo(map); -->
            var marker = L.marker(center, {icon: airportIcon}).addTo(map).bindPopup(x);

        }
