{% extends "base.html" %}

{% load bootstrap3 %}

{% block head %}
    <title>Sign Up</title>

{% endblock %}



{% block body %}
<section class="content">

  <div class="panel panel-default">
    <div class="panel-body">
      <h4>Sign Up</h4>
      <form class="" action="" method="POST">
        {% csrf_token %}

          {% bootstrap_form_errors form %}

        <div class="row">
          <div class="col-sm-4">
            <span>{% bootstrap_field form.username %}</span>
          </div>
          <div class="col-sm-2">

          </div>
          <div class="col-sm-3">
            {% bootstrap_field form.email %}
          </div>

        </div>
        <br>
    <div class="row">
      <div class="col-sm-6">
               {% bootstrap_field form.password1 %}
          </div>
          <div class="col-sm-4">
            <!-- {{form.password1}} -->
            {% bootstrap_field form.password2 %}
          </div>

    </div>


           <button type="submit" class="btn btn-primary btn-lg btn-block">Sign Me Up!</button>

      </form>
    </div>

  </div>
</section>
{% endblock %}

{%block includes%}
{% endblock%}
