<!DOCTYPE html>
{% extends "base.html" %}

{% block head %}
    <title>Add RPAS</title>
{%endblock%}

{%block body%}

 
 {% load bootstrap3 %}

<section class="content">

  <div class="row">

    <div class="col-xs-7">

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title text-center">
              <b>ADD YOUR RPAS </b>
            </h3>
          </div>
          <div class="panel-body">
            <form class="" method="POST" enctype="multipart/form-data">
              {{form.errors}} {% csrf_token %} {% bootstrap_form form %}
              <p></p>
              <input type="submit" class="btn btn-primary " value="Save">
            </form>
          </div>
        </div>

    </div>
    <div class="col-xs-5">

      <div class="panel panel-warning">
        <div class="panel-heading">
          <span class="pull-left">
            <i class="fa fa-info" aria-hidden="true"></i>
          </span>
          <span >
            <h3 class="panel-title text-center">
            <em> Hey, some pointers here</em>
            </h3>
          </span>
        </div>
        <div class="panel-body">
          
            <li>Rpas Serial number as found on the drone</li>
            <li>The nickname is whatever name you uniquely give to your drone, its not compulsory</li>
          
          
        </div>
      </div>

      

    </div>

  </div>

  


</section>

{%endblock%}

