<!DOCTYPE html>
{% extends "base.html" %}

{% block head %}
    <title>ADD Rpas</title>
{%endblock%}

{%block body%}

<section class="content">


<!-- <div class="container"> -->


  <form class=""  action=""method="POST" enctype="multipart/form-data">

    {{form.errors}}
  {% csrf_token %}


  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <p>RPAS NICKNAME</p>
        </div>
        <div class="col-sm-4">
            {{ form.rpas_nickname }}
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          RPAS MODEL
        </div>
        <div class="col-sm-4">
            {{ form.rpas_model }}
        </div>
        <p></p>
        <div class="col-sm-3">
            <a href="{% url 'rpas_model_add' %}" class="btn btn-primary  active" role="button" aria-pressed="true">
              <i class="fa fa-plus-square " aria-hidden="true">  Add New</i>
            </a>
         </div>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          RPAS Serial
        </div>
        <div class="col-sm-4">
        {{ form.rpas_serial }}
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body">
    <div class="row">
      <div class="col-sm-3">
        PAYLOAD
      </div>
      <div class="col-sm-4">
          {{ form.payload }}
      </div>
      <div class="col-sm-2">
          <a href="{% url 'payload_add' %}" class="btn btn-primary  active"
           role="button" aria-pressed="true">
            <i class="fa fa-plus-square " aria-hidden="true"> Add Payload</i>
          </a>
       </div>
    </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          RPAS PICTURE
        </div>
        <div class="col-sm-4">
        {{ form.rpas_pic }}
        </div>
      </div>
    </div>
  </div>





<input value="Save" class="default" name="_save" type="submit">

</form>


<!-- </div> -->


</section>
{%endblock%}
