
{% extends "base.html" %}

  
{% load static %}
{% block head %}
    <title>Compose</title>

    <link rel="stylesheet" href="{% static 'adminlite/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}"  type="text/css">

{%endblock%}


{%block body%}


<!-- <div class="container">
  <div class="card">
    <div class="card-body">
      <form method="POST">
          {{ form.as_p }}

          {% csrf_token %}
          <br>
          <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</div> -->





    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Compose
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Mailbox</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          <a href="{% url 'messages:inbox'%}" class="btn btn-primary btn-block margin-bottom">Back to Inbox</a>

          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Folders</h3>

              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="{% url 'messages:inbox'%}"><i class="fa fa-inbox"></i> Inbox
                  <span class="label label-primary pull-right">{{inbox.count }}</span></a></li>
                <li><a href="{% url 'messages:sent'%}"><i class="fa fa-envelope-o"></i> Sent</a></li>
                </li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /. box -->
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Labels</h3>

              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->

          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Compose New Message</h3>
            </div>
            <!-- /.box-header -->
            <form method="post">


            <div class="box-body">
              {% load bootstrap3 %}
              <!-- {{ form.media }} -->

              <!-- {% bootstrap_form_errors form %} -->
              <!-- {% bootstrap_field form.title %} -->

              {%bootstrap_form form%}
              {% csrf_token %}

              <!-- <div class="form-group">
                <input class="form-control" placeholder="To:">
              </div>

              <div class="form-group">
                <input class="form-control" placeholder="Subject:">
              </div> -->
              <!-- <div class="form-group">
                    <textarea id="compose-textarea" class="form-control" style="height: 300px">

                    </textarea>
              </div> -->
              <div class="form-group">
                <div class="btn btn-default btn-file">
                  <i class="fa fa-paperclip"></i> Attachment
                  <input type="file" name="attachment">
                </div>
                <p class="help-block">Max. 3 MB</p>
              </div>


            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <div class="pull-right">
                <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> Draft</button>
                <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send</button>
              </div>
              <button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Discard</button>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /. box -->
      </form>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>



  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


<!-- <script src="../../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script> -->
<!-- Page Script -->
<script>
  $(function () {
    //Add text editor
    $("#compose-textarea").wysihtml5();
  });
</script>


{%endblock%}
