{% extends "base.html" %}

{% load static %}
{% block head %}
    <title>Weather</title>

{% endblock %}


{% block body %}
<section class="content">

  

          <div class="card" style="width: 20rem;">
            <div class="container">
                <img src="{{ data.icon_url }}">
              {{ data.weather }}
            </div>
            <div class="card-body">
              <p class="card-title">{{ data.location }}</p>
              <p class="card-text">{{ data.observation_time }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Wind: {{ data.wind_str }}</li>
              <li class="list-group-item">Temp: {{ data.temp }} deg. Celsius</li>
              <li class="list-group-item">Precipitation: {{ data.precip }}</li>
            </ul>
         </div>



</section>


{% endblock %}
