{% extends "base.html" %}
{%load static %}

{# {% load webpush_notifications %} #}

{% block head %}

  <title> Notifications</title>

    {# {% webpush %} #}

{%endblock%}

{%block body%}


  {# {% webpush_button %} #}

  <!-- TODO: READ ALL button: linked to readallview that changes is_read property of the models -->
    <section class="content-header">
      <h1>
        Notifications
        <small>All</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <!-- The time line -->
          <ul class="timeline">
            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-red">
                   2018 only
                  </span>
            </li>
{% for unread_notification in notifications_list %}
            <li>
              <i class="fa fa-exclamation-triangle bg-red"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> {{unread_notification.date_created | timesince }} ago </span>

                <!-- <h3 class="timeline-header"><a href="#"> NOTAM ALERT! </a> <small>Urgent action required</small></h3> -->

                <div class="timeline-body">
                {{unread_notification.title}}
                </div>
                <div class="timeline-footer">
                  <a class="btn btn-primary btn-xs">Read more</a>
                  <a class="btn btn-danger btn-xs">Delete</a>
                </div>
              </div>
            </li>

{% endfor %}

            <li>
              <i class="fa fa-video-camera bg-maroon"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 5 days ago</span>

                <h3 class="timeline-header"><a href="#">Admin</a> shared a video</h3>

                <div class="timeline-body">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5etvKO8pb24"
                            frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="timeline-footer">
                  <a href="#" class="btn btn-xs bg-maroon">See comments</a>
                </div>
              </div>
            </li>
            <!-- END timeline item -->
            <li>
              <i class="fa fa-clock-o bg-gray"></i>
            </li>
          </ul>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->


    </section>

{%endblock%}
